* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainContainer {
    background-color: rgb(0, 0, 0);
    max-width: 300px;
    padding: 15px;
    margin: 50px auto;
    max-height: auto;
    border-radius: 10px;
}

.appTitle {
    text-align: center;
    margin-bottom: 20px;
}

.showResult {
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
    text-align: right;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 25px;
}

.calculatorGrid {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

.button,:not(.equal) {
    font-weight: bold;
    padding: 5px 15px;
    height: 50px;
}

.clearButton {
    background-color: #ff0000;
    color: #ffffff;
    border: 1px solid #ff0000;
}

.clearButton, .zeroBtn {
    grid-column: 1 / 3;
}

.equal {
    background-color: #206420;
    color: #ffffff;
    font-weight: 400;
    grid-column: 4 / 5;
    grid-row: 4 / 6;
    border: 1px solid #206420;
}
 