* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainContainer {
    background-color: yellow;
    max-width: 240px;
    padding: 15px 7px;
    margin: 50px auto;
    height: 250px;
}

.calculatorInput 

.calculatorGrid {
    max-width: 100%;
    height: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

.button {
    font-weight: bold;
    padding: 5px 15px;
}

.clearBtn, .zeroBtn {
    grid-column: 1 / 3;
}

.equal {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}
 